# Python virtual environments
venv/
.venv/

# IDE specific files
.vscode/
*.sublime-project
*.sublime-workspace

# Python build artifacts
__pycache__/
*.pyc
.Python
build/
dist/
*.egg-info/
.pytest_cache/
.ruff_cache/

# Sensitive files (HIGHLY IMPORTANT: DO NOT PUSH YOUR KEYS!)
firebase-service-account.json
.env # If you start using a .env file for local environment variables